.mainBlock {
  width : 100vw;
  height : 100vh;

  background-color: rgb(10,0,20);
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;

  color: rgb(200,200,200);
}

.form {
  background-color: rgba(255, 0, 255, .1);
  width: 350px;

  transition-duration: 1s;
}

.centeredText {
  text-align: center;
}


.centered {
  margin: auto;
}

.flexDisplay {
  display: flex;
}

.center {
  margin: auto;
}

.flexible {
  flex: 1;
}

.topPadded {
  padding-top: 25vh;
}

.padded {
  padding: 10px;
}

.lightlyPadded {
  padding: 5px 10px;
}

.errorLog {
  background-color: rgb(40,0,20);
}
