
.userColumn {
  width: 200px;
}

.chatPane {
  flex: 1;
  color: white;
  overflow: scroll;
  scroll-behavior:
}

.messageContainer {
  padding : 5px 15px;
  display: flex;
}

.message {
  padding: 8px;
  background-color: rgba(255,255,255, .05);
  max-width: 60%;

  color: rgba(255,255,255, .8);
}

.messageBulk {
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
}

.message b {
  color: rgba(255,255,255, .6);
}

.authored {
  text-align: right;
  margin-left: auto;
}

.default {
  background-color: rgb(30,0,0);
}

.messagePane {
  flex : .2;
  min-height: 50px;
  max-height: 100px;
  font-size: inherit;
}
