.mainBlock {
  width : 100vw;
  height : 100vh;
  background-color: rgb(10,10,10);
  font-family: "Courier New", Courier, monospace;
  font-size: .8em;
  color: rgb(200,200,200);
}

b {
  font-weight: normal;
}

.container {
  padding: 0px;
}

.form {
  width: 350px;
  transition-duration: 1s;
  border-radius: 15px;
}

.applet {
  margin: 10vh 10vw;
  border-radius: 15px;
}

.centeredText {
  text-align: center;
}

.centered {
  margin: auto;
}

.flexDisplay {
  display: flex;
}

.columnFlex {
  flex-direction: column;
}

.flexible {
  flex: 1;
}

.inflexible {
  flex: 0;
}

.column {
  width: 150px;
  overflow: scroll;
  border-right: 1px solid rgba(255,255,255,.3);
}

.topPadded {
  padding-top: 25vh;
}

.padded {
  padding: 10px;
}

.lightlyPadded {
  padding: 5px 10px;
}

.topped {
  border-top: 1px solid rgba(255,255,255,.2);
}

.darker {
  background-color: rgba(0,0,0,.6);
}
