.mainBlock {
  width : 100vw;
  height : 100vh;

  background-color: rgb(10,0,20);
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;

  color: rgb(200,200,200);
}

.container {
  padding: 0px;
}

.form {
  background-color: rgb(31,7,42);
  width: 350px;

  transition-duration: 1s;
}

.centeredText {
  text-align: center;
}

.centered {
  margin: auto;
}

.flexDisplay {
  display: flex;
}

.columnFlex {
  flex-direction: column;
}

.center {
  margin: auto;
}

.flexible {
  flex: 1;
}

.inflexible {
  flex: 0;
}

.topPadded {
  padding-top: 25vh;
}

.padded {
  padding: 10px;
}

.lightlyPadded {
  padding: 5px 10px;
}
