input, textarea {
  background-color: rgba(0, 0, 0, 0.0);
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  border: none;

  resize: none;
}

input:focus, textarea:focus {
  outline: none;
}

.button {
  text-align: center;
  padding: 10px;
  flex: 1;
  cursor: default;
  text-decoration: none;
}

.button, input, textarea, .logEntry {
  border-radius: 15px;
  border: 1px solid rgba(255,255,255,.2);
}

.button, .logEntry {
  overflow: hidden;
}

.logEntry {
  flex: 1;
  text-align: center;
  padding: 5px 10px;
}

.clickable {
  transition-duration: .3s;
}

.clickable:hover, input:focus, textarea:focus , .toggled{
  background-color: rgba(255, 255, 255, .075);
  color: inherit;
}

::placeholder, .faded, .button, .clickable:active {
  color: rgba(255, 255, 255, .4);
}

.required::placeholder, .unread {
  color: rgb(100, 180, 150);
}

::selection {
  background-color: rgba(255,255,255, .1);
}
