input {
  background-color: rgba(0, 0, 0, 0.0);
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  border: none;
}

input:focus {
  outline: none;
}

.button {
  text-align: center;
  padding: 10px;
  flex: 1;
  cursor: default;
}

.clickable {
  transition-duration: .3s;
}

.clickable:hover, input:focus {
  background-color: rgba(255, 255, 255, .075);
  color: inherit;
}

::placeholder, .faded, .button {
  color: rgba(255, 255, 255, .4);
}

.required::placeholder {
  color: rgb(100, 100, 150);
}

::selection {
  background-color: rgba(255,255,255, .1);
}
